* {
  box-sizing: inherit;
}

html {
  font-family: 'Orbitron', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

body {
  background: rgba(0, 0, 0, 0.95);
  position: relative;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#digital {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 85%;
  transform: translateX(-50%);
  font-size: 3.8rem;
  line-height: 4rem;
  text-align: center;
  letter-spacing: 2px;
  color: rgb(65, 156, 65);
}


@media(max-width: 739px) {
  #digital {
    font-size: 2.8rem;
    line-height: 3rem;
  }
}